#div1{
    border: 20px solid darkgray;
    padding: 20px;
    width: 700px;
    margin: auto;
    
}

#div2 h3{
    font-variant: small-caps;
    color: aqua;
}

#div3 h3{
    font-variant: small-caps;
    color: aqua;
}

h1{
    text-transform: capitalize;
}

#p1{
    border-left: 3px solid grey;
}
#p2{
    border-left: 3px solid grey;
}